html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container-md {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  font-family: sans-serif;
  font-size: small;
  background-color: rgb(50, 50, 50);
  color: rgb(202, 202, 202);
  padding: 5px;
  padding-right: 40px;
  text-align: end;
  position: relative;
  bottom: 0;
}

header {
  margin-bottom: 2vh;
}

#home-banner, #who-banner {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

#home-banner {
  background-image: url(images/banner_home.jpg);
  height: 90vh;
}

#who-banner {
  background-image: url(images/banner_who.png);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2vh;
}

#img-travesia6, #img-travesia5, #img-travesia4, #img-travesia3, #img-travesia2, #img-travesia1 {
  width: 100%;
  height: 250px;
  max-width: 800px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: block;
}

#img-travesia1 {
  background-image: url("images/travesia1.jpg");
}

#img-travesia2 {
  background-image: url("images/travesia2.jpg");
}

#img-travesia3 {
  background-image: url("images/travesia3.jpg");
}

#img-travesia4 {
  background-image: url("images/travesia4.jpg");
}

#img-travesia5 {
  background-image: url("images/travesia5.jpg");
}

#img-travesia6 {
  background-image: url("images/travesia6.jpg");
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consejo {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #000;
  background-color: rgb(50, 50, 50);
  color: rgb(202, 202, 202);
}

#video {
  width: 1120px;
  height: 630px;
}

.lista-clasica {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.centro {
  margin: 0 auto;
}

#form {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 362px;
}

.form-label {
  display: inline-block;
  width: 100px;
}

.form-input, .form-textarea {
  width: 100%;
  max-width: 250px;
}

.form-textarea {
  height: 200px;
}

#logo {
  transition: transform 0.5s;
}

#logo:hover {
  transform: scale(1.1);
}

@media (min-width: 1024px) and (max-width: 1440px) {
  #video {
    width: 75vw;
    height: 500px;
  }
}
@media (max-width: 1024px) {
  #home-banner, #who-banner {
    min-height: 40vh;
  }
  .main {
    max-width: 95vw;
  }
  #img-travesia1, #img-travesia2, #img-travesia3, #img-travesia4, #img-travesia5, #img-travesia6 {
    max-width: 600px;
  }
  #video {
    width: 80vw;
    height: 500px;
  }
}
@media (min-width: 835px) and (max-width: 1024px) {
  #video {
    width: 70vw;
    height: 500px;
  }
}
@media (max-width: 768px) {
  #home-banner, #who-banner {
    min-height: 30vh;
  }
  .main {
    max-width: 100%;
    padding: 10px;
  }
  #img-travesia1, #img-travesia2, #img-travesia3, #img-travesia4, #img-travesia5, #img-travesia6 {
    max-width: 100%;
    margin: 10px auto;
  }
  #form {
    max-width: 100%;
  }
  .form-label {
    width: 80px;
  }
  .form-input, .form-textarea {
    max-width: 100%;
  }
  #video {
    width: 80vw;
    height: 400px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  #img-travesia1, #img-travesia2, #img-travesia3, #img-travesia4, #img-travesia5, #img-travesia6 {
    margin-right: 30px;
  }
}
@media (max-width: 480px) {
  #home-banner, #who-banner {
    min-height: 25vh;
  }
  .main {
    padding: 5px;
  }
  .form-label {
    width: 70px;
  }
  #video {
    width: 100%;
    height: 300px;
  }
}
.lines {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: -1;
}
.lines .line {
  width: 20px;
  height: 100%;
  border-radius: 0px;
  position: relative;
}
.lines .line:nth-child(1) {
  background: #7a0c00;
}
.lines .line:nth-child(2) {
  background: #c61c0a;
}
.lines .line:nth-child(3) {
  background: #e45a0a;
}
.lines .line:nth-child(4) {
  background: #ff931e;
}
.lines .line:nth-child(5) {
  background: #ffbb33;
}
.lines .line::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: inherit;
  filter: blur(5px);
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    transform: translateY(-100%);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0.1;
  }
}
@media (max-width: 1024px) {
  .lines .line {
    width: 15px;
  }
  .elementos-animacion {
    padding-right: 150px;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .lines .line {
    width: 10px;
  }
  .elementos-animacion {
    padding-right: 100px;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .lines .line {
    width: 7px;
  }
  .elementos-animacion {
    padding-right: 70px;
    height: 100%;
  }
}
.elementos-animacion {
  padding-right: 100px;
  border: 0 solid transparent;
  margin-top: 20px;
}

.whatsapp-btn {
  position: fixed;
  bottom: 10vh;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.whatsapp-btn:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
